@charset "utf-8";
* {
    font-family: 'courier';
}

.container {
    max-width: 750px;
    padding: auto;
}

ul {
    list-style-type: none;
}

h2,
h3 {
    text-transform: lowercase;
}

h4 .source {
    font-size: smaller;
}

.project-list h4 {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

footer {
    border-top: 1px solid gray;
}

.featured.stage {
    border: 1px solid gray;
    border-radius: 5px;
    background: #fff8ff;
    padding: 0 10px;
    margin: -10px;
}
