@charset "utf-8";
* {
    font-family: 'courier';
}

ul {
    list-style-type: none;
}

h2,
h3 {
    text-transform: lowercase;
}

.project-list h4 {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
