---
layout: layout
---

<div class="starter-template">
  {{ content }}
</div>

<h2>Projects</h2>
{% assign visited = '' | split: ',' %}
{% for cat in site.data.categories %}
  {% assign projects = site.projects | where_exp: "project", "project.categories contains cat.key" %}
  {% if cat.key == 'other' %}
    {% assign projects = '' | split: ',' %}
    {% for project in site.projects %}
      {% if visited contains project %}{% continue %}{% endif %}
      {% assign projects = projects | push: project %}
    {% endfor %}
  {% endif %}
  {% if projects.size == 0 %}{% continue %}{% endif %}
  <h3>{{ cat.name }}</h3>
  <ul class="project-list">
    {% assign projects = projects | where_exp: 'project', 'project.order' | sort: 'order' | concat: projects | uniq %}
    {% for project in projects %}
      {% assign visited = visited | push: project %}
      <li>
        <div class="project-item">
          <h4>
            <a href="{{ project.website }}">{{ project.title }}</a>
            <a class="source" href="{{ project.source }}">(source code)</a>
          </h4>
          <span class="project-meta">
            {{ project.description }}
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

