---
layout: layout
---

<div class="starter-template">
  {{ content }}
</div>

{% assign visited = '' | split: ',' %}
{% for cat in site.data.stages %}
  {% assign projects = site.projects | where_exp: "project", "project.status == cat.key" %}
  {% if cat == 'other' %}
    {% assign projects = '' | split: ',' %}
    {% for project in site.projects %}
      {% if visited contains project %}{% continue %}{% endif %}
      {% assign projects = projects | push: project %}
    {% endfor %}
  {% endif %}
  <br/>
  {% if projects.size == 0 %}{% continue %}{% endif %}
  <section class="{{ cat.key | slugify }} stage">
    <h2>{{ cat.name }}</h2>
    <p>{{ cat.description }}</p>
    <ul class="project-list">
      {% assign projects = projects | where_exp: 'project', 'project.order' | sort: 'order' | concat: projects | uniq %}
      {% for project in projects %}
        {% assign visited = visited | push: project %}
        <li>
          <div class="project-item">
            <h4>
              <a href="{{ project.website }}">{{ project.title }}</a>
              {% if project.source %}
                <a class="source" href="{{ project.source }}">(source code)</a>
              {% endif %}
            </h4>
            <span class="project-meta">
              {{ project.description }}
              {{ project.content }}
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
